<footer>
    <div>Site criado com fins educativos. - Todos os direitos reservados. &copy;</div>
    <div>Criado por: <a href="http://www.linkedin.com/in/beatriz-lages-melga%C3%A7o-036553218/" target="_blank" rel="noopener noreferrer"> Beatriz Lages Melgaço.</a></div>
</footer>