<script src="https://kit.fontawesome.com/71f92ea1b3.js" crossorigin="anonymous"></script>

<header>
    <nav>
        <ul>
            <a href="/"> <li><i class="fa-solid fa-house-chimney"></i> Início </li> </a>
            <a href="/criar"> <li><i class="fa-solid fa-square-plus"></i> Criar </li> </a>
        </ul>
    </nav>
    <img id="logo" src="/img/video.png" alt="pequena logo de video"> 
</header>
